<div class="container main-div">
    <div class="row">
        <div class="col c1 text-center">
            <h1 class="fs-1"><span class="clr">Contact Our</span><br>
                Customer Support Center</h1>
        </div>
        <div class="col">
            <img src="mac.jpg" class="img-fluid img-mac" />
        </div>
    </div>
    <div class="pt-5 row text-center">
        <div class="col">
            <h2 class="fs-3 mb-1">Contact Information</h2>
            <p>Please fill out your contact information below.</p>
        </div>
    </div>
    <div class="row">
    <form class="p-3">
        <div class="mb-2 row">
            <div class="col-4">
                <label class="form-label">Name <span class="text-danger"> *</span> </label>
                <input type="text" class="form-control">
                <p class="pt-3">First Name</p>
            </div>
            <div class="col-4 mt-2">
                <label class="form-label"></label>
                <input type="text" class="form-control">
                <p class="pt-3">Last Name</p>
            </div>
        </div>
        <div class="col mb-2">
            <label class="form-label">Email <span class="text-danger"> *</span> </label>
            <input type="email" class="form-control">
        </div>
        <div class="col mb-2">
            <label class="form-label">Phone <span class="text-danger"> *</span> </label>
            <input type="number" class="form-control">
        </div>
        <div class="col mb-2">
            <label class="form-label">Address <span class="text-danger"> *</span> </label>
            <input type="text" class="form-control">
        </div>
    </form>
</div>
</div>